{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<header>
    <h1> <a href="{% url 'news' %}"> Blog sayti </a> </h1>
</header>

{% if user.is_authenticated %}
    <p>Xush kelibsiz{{ user.username }}</p>
    <a href="{% url 'logout' %}">Chiqish</a>
    {% else %}
    <a href="{% url 'login' %}">Kirish</a>
    <a href="{% url 'signup' %}">Ro'yhatdan o'tish</a>
{% endif %}

<div>
    {% block content %}
    
    {% endblock content %}
    <footer>
        <div>
            <h1><a href="{% url 'newspost' %}"> Yangi post qo'shish</a></h1>
            
        </div>
    </footer>
</div>
</body>
</html>